pytest
fastapi
configparser
SQLAlchemy
pydantic-settings
python-jose
passlib
mysql-connector-python
httpx
pytest-cov
python-multipart
pydantic[email]
bcrypt
cffi
fastapi[standard]
uvicorn
alembic
Audit-Alembic